.btn_up_down {
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  transition: border-radius 0.3s;
}
.btn_up_down:hover {
  background-color: rgba(200, 200, 200, 0.2);
  border-radius: 50%;
}
